<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-92QD43TPYQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-92QD43TPYQ');
</script>
<p>おかレな日本語</p>

<%= form_with url: "/result", method: :post, model: @content, data: { turbo: false } do |f| %>
  <%= f.text_area :word, placeholder: "ここに入力" %>
  <%= f.submit "変換" %>
<% end %>
  
<h1>↓</h1>

<%= @result %>